George Zagaris <zagaris2@llnl.gov>         George Zagaris <george.zagaris@gmail.com>
Kenneth Weiss <kweiss@llnl.gov>            Kenneth Weiss <weiss27@llnl.gov>
Kenneth Weiss <kweiss@llnl.gov>            Kenny Weiss <kenny@kennyweiss.com>
Kenneth Weiss <kweiss@llnl.gov>            Kenny Weiss <kennyweiss@users.noreply.github.com>
Peter B. Robinson <robinson96@llnl.gov>    robinson96 <robinson96@llnl.gov>
Peter B. Robinson <robinson96@llnl.gov>    robinspb <manbearkitty@gmail.com>
Randolph R. Settgast <settgast1@llnl.gov>  Randolph R. Settgast <rrsettgast@gmail.com>
Randolph R. Settgast <settgast1@llnl.gov>  Randolph Settgast <rrsettgast@gmail.com>
Randolph R. Settgast <settgast1@llnl.gov>  Randolph Settgast <settgast1@llnl.gov>

