environment:
  matrix:
  - CMAKE_GENERATOR: "Visual Studio 14 2015"
    CONFIG: Release
    BUILD_SHARED_LIBS: ON
  - CMAKE_GENERATOR: "Visual Studio 14 2015"
    CONFIG: Release
    BUILD_SHARED_LIBS: OFF


init:
  # line endings magic
  - git config --global core.autocrlf input

before_build:
  # remove some noisy warnings from Xamarin
  - del "C:\Program Files (x86)\MSBuild\14.0\Microsoft.Common.targets\ImportAfter\Xamarin.Common.targets"
  # copy blt into blt-test and setup to build there
  - ps: cd ..
  - cp -r blt\cmake\blt-test .
  - cp -r blt blt-test
  # configure
  - echo Running cmake ...
  - cmake -Hblt-test -Bbuild -G "%CMAKE_GENERATOR%" -DBUILD_SHARED_LIBS=%BUILD_SHARED_LIBS%

build_script:
  #build
  - echo Building ...
  - cmake --build build --config %CONFIG%

after_build:
  # run our tests
  - cmake -E env CTEST_OUTPUT_ON_FAILURE=1 cmake --build build --config %CONFIG% --target RUN_TESTS
